openapi: 3.0.3
info:
  title: Superlog Management API
  version: 1.0.0
  description: |
    Programmatic surface for provisioning projects, ingest keys, and GitHub
    access. Authenticated with org-scoped management keys (prefix
    `sl_management_*`) minted from the dashboard or via
    `POST /api/org/api-keys`.

    Personal user sessions and ingest keys (`sl_public_*`) are not accepted on
    `/api/v1/*`.

servers:
  - url: https://api.superlog.sh
    description: Production
  - url: http://localhost:4100
    description: Local dev

security:
  - bearerAuth: []

tags:
  - name: Projects
  - name: API keys
  - name: GitHub integration

paths:
  /api/v1/projects:
    post:
      tags: [Projects]
      summary: Create a project
      description: |
        Creates a new project in the authed org. Optionally mints an initial
        ingest key in the same call (default behavior).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectInput'
      responses:
        '200':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }

    get:
      tags: [Projects]
      summary: List projects in the org
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [projects]
                properties:
                  projects:
                    type: array
                    items: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      summary: Get a project
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [project]
                properties:
                  project: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Projects]
      summary: Update a project
      description: |
        Partial update — only fields present in the body are written. Omit a
        field to leave it unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [project]
                properties:
                  project: { $ref: '#/components/schemas/Project' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /api/v1/projects/{projectId}/api-keys:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [API keys]
      summary: Mint a new ingest API key
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: "Defaults to 'API key'" }
      responses:
        '200':
          description: Key minted (plaintext shown once)
          content:
            application/json:
              schema:
                type: object
                required: [api_key]
                properties:
                  api_key: { $ref: '#/components/schemas/MintedApiKey' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    get:
      tags: [API keys]
      summary: List ingest API keys for a project
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [api_keys]
                properties:
                  api_keys:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/integrations/github/install-url:
    post:
      tags: [GitHub integration]
      summary: Mint an org-scoped GitHub App install URL
      description: |
        Resulting install is owned by the org and can be granted to multiple
        projects. `return_url` host must be in the org's allowlist.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallUrlInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [install_url]
                properties:
                  install_url: { type: string, format: uri }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/projects/{projectId}/integrations/github/install-url:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [GitHub integration]
      summary: Mint a project-scoped GitHub App install URL
      description: |
        Resulting install is bound to one project and is NOT listed by
        `GET /api/v1/integrations/github/installations`.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallUrlInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [install_url]
                properties:
                  install_url: { type: string, format: uri }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/v1/integrations/github/installations:
    get:
      tags: [GitHub integration]
      summary: List org-scoped GitHub installs
      description: |
        Project-scoped installs and revoked / suspended installs are excluded.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [installations]
                properties:
                  installations:
                    type: array
                    items: { $ref: '#/components/schemas/GithubInstallation' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/integrations/github/installations/{installationRowId}/repos:
    parameters:
      - name: installationRowId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [GitHub integration]
      summary: List repos covered by an install (live)
      description: |
        Live call against GitHub. Capped at 1000 repos; `truncated=true` means
        more exist. You can still grant a beyond-cap repo by passing its numeric
        ID to the grant endpoint (it does an O(1) lookup).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [repos, truncated]
                properties:
                  repos:
                    type: array
                    items: { $ref: '#/components/schemas/GithubRepo' }
                  truncated: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /api/v1/projects/{projectId}/github/repos:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [GitHub integration]
      summary: List repo grants on a project
      description: Grants whose underlying install has been revoked are filtered out.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [grants]
                properties:
                  grants:
                    type: array
                    items: { $ref: '#/components/schemas/ProjectRepoGrant' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [GitHub integration]
      summary: Grant a project access to a repo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [installation_id, repo_id]
              properties:
                installation_id:
                  type: string
                  format: uuid
                  description: Install row UUID (from `GET .../installations`)
                repo_id:
                  type: integer
                  description: GitHub numeric repo ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [grant]
                properties:
                  grant: { $ref: '#/components/schemas/ProjectRepoGrant' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /api/v1/projects/{projectId}/github/repos/{repoId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: repoId
        in: path
        required: true
        schema: { type: integer }
        description: GitHub numeric repo ID
    delete:
      tags: [GitHub integration]
      summary: Revoke a project's grant on a repo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, enum: [true] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: sl_management_*

  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema: { type: string, format: uuid }

  schemas:
    AutomergePolicy:
      type: string
      enum: [never, when_checks_pass, immediately]
      description: |
        Controls whether the agent's auto-opened fix PRs are merged.
        * `never` — leave the PR open for a human to merge.
        * `when_checks_pass` — enable GitHub native auto-merge; lands once required checks pass.
        * `immediately` — call the merge API right after PR open (will fail if branch protection blocks it).

    AutomergeMethod:
      type: string
      enum: [squash, merge, rebase]
      description: Merge strategy used for auto-merge.

    Project:
      type: object
      required: [id, name, slug, automerge_fix_prs, automerge_method]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug:
          type: string
          pattern: '^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$'
          maxLength: 40
        created_at:
          type: string
          format: date-time
          description: Present on GET responses; absent on the POST create response.
        automerge_fix_prs: { $ref: '#/components/schemas/AutomergePolicy' }
        automerge_method:  { $ref: '#/components/schemas/AutomergeMethod' }

    CreateProjectInput:
      type: object
      required: [name, slug]
      properties:
        name: { type: string }
        slug:
          type: string
          pattern: '^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$'
          maxLength: 40
        mint_ingest_key:
          type: boolean
          default: true
          description: If true, mint an initial ingest key and return it once.
        automerge_fix_prs:
          allOf: [{ $ref: '#/components/schemas/AutomergePolicy' }]
          default: never
        automerge_method:
          allOf: [{ $ref: '#/components/schemas/AutomergeMethod' }]
          default: squash

    UpdateProjectInput:
      type: object
      description: All fields optional. Only fields present in the body are written.
      properties:
        name: { type: string }
        slug:
          type: string
          pattern: '^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$'
          maxLength: 40
        automerge_fix_prs: { $ref: '#/components/schemas/AutomergePolicy' }
        automerge_method:  { $ref: '#/components/schemas/AutomergeMethod' }

    CreateProjectResponse:
      type: object
      required: [project, api_key]
      properties:
        project: { $ref: '#/components/schemas/Project' }
        api_key:
          oneOf:
            - $ref: '#/components/schemas/MintedApiKey'
            - type: 'null'
          description: Present when `mint_ingest_key` is true (default); `null` otherwise.

    MintedApiKey:
      type: object
      required: [id, name, key_prefix, plaintext]
      properties:
        id: { type: string }
        name: { type: string }
        key_prefix:
          type: string
          description: Stable prefix of the key (safe to store / display).
        plaintext:
          type: string
          description: Full key. Shown once — store immediately.

    ApiKey:
      type: object
      required: [id, name, key_prefix, last_used_at, revoked_at, created_at]
      properties:
        id: { type: string }
        name: { type: string }
        key_prefix: { type: string }
        last_used_at: { type: string, format: date-time, nullable: true }
        revoked_at:   { type: string, format: date-time, nullable: true }
        created_at:   { type: string, format: date-time }

    InstallUrlInput:
      type: object
      properties:
        return_url:
          type: string
          format: uri
          description: |
            Where to bounce the user after install completes. Host must be in the
            org's `allowed_return_url_hosts` allowlist; must be http(s); must
            not embed credentials.

    GithubInstallation:
      type: object
      required: [id, installation_id, account_login, account_type, created_at]
      properties:
        id: { type: string, format: uuid }
        installation_id:
          type: integer
          description: GitHub's numeric install ID.
        account_login: { type: string, nullable: true }
        account_type:  { type: string, nullable: true }
        created_at:    { type: string, format: date-time }

    GithubRepo:
      type: object
      required: [id, full_name, private]
      properties:
        id: { type: integer }
        full_name: { type: string }
        private: { type: boolean }

    ProjectRepoGrant:
      type: object
      required: [id, repo_id, repo_full_name, created_at]
      properties:
        id: { type: string, format: uuid }
        installation_id:
          type: string
          format: uuid
          description: Present on responses; the underlying install row.
        project_id:
          type: string
          format: uuid
          description: Only present on the per-installation grant listing.
        repo_id: { type: integer }
        repo_full_name: { type: string }
        created_at: { type: string, format: date-time }

    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }

  responses:
    BadRequest:
      description: Malformed input
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing / wrong-type / revoked token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not in this org or doesn't exist
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: Conflict (e.g. slug already in use)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadGateway:
      description: Upstream call to GitHub failed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServiceUnavailable:
      description: GitHub App not configured server-side
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
